@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.specialhead{
    color: rgb(61, 60, 60);
}
h1{
font-family: 'Space Grotesk', sans-serif;

}
p{
    text-align: justify;
}
.dark_style{
    color: rgb(75, 73, 73);
}


